

  /*author：Citrons
  time:25/12/2019
  Website:https://www.citrons.cn/
	*/
  /*下方这句不动它，翻译开始*/
  * {
    padding: 0;
    margin: 0;
  }


  /*翻译
主页整体样式 
文本对齐︰ 中心;
背景色︰ #f1f6ee  使用夜间默认时修改为#000000即可
}
*/
   body {
    text-align: center;
    background-image: url('../img/Mobile.jpg') !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-color: #ffffff;
  } 




  /*翻译
搜索栏字体样式 
宽度︰ 90%;
高度︰ 40px;
背景颜色︰ 透明;
边境︰ 无;
大纲︰ 0;
字体大小︰ 18px;
字体颜色: #000000;
填充︰ 0 20px;
边界半径︰ 50px
}*/

  #search_input {
    width: 90%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: 0;
    font-size: 16px;
    color: #000;
    padding: 0 10px;
    border-radius: 50px;
  }

  /*翻译
搜索框边距 
下边距︰ 30px;
上边距︰ 20px;
*/

  .search_part {
    margin-bottom: 5px;
    margin-top: 240px;
  }

  /*翻译
跨度样式
显示︰ 阻止;
溢出︰ 隐藏;
左填充︰ 5px;
垂直对齐︰ 居中;
*/

  .search_bar span {
    display: block;
    font-size: 12px;
    overflow: hidden;
    padding-left: 2px;
    margin-right: 42px;
    /* vertical-align: middle; */
  }

  .search_bar span i {
    display: none;
    float: right;
    width: 35px;
    height: 40px;
    background-size: 16px;
  }

  .search_bar .si {
    margin: 0 38px 0 10px;
  }

  /*搜索建议条*/
  #suggest {
    position: absolute;
    left: -1px;
    right: -1px;
    top: 40px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 40px;
    width: 95%;
    margin: 0 auto;
    border-radius: 4px;
  }

  #suggest li {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding-left: 16px;
  }

  #suggest li:active {
    background: #F0F0F0;
  }

  #suggest li b {
    float: right;
    width: 44px;
    height: 40px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAI5JREFUSEtjZCACLF261J6RkbELpPT///9l0dHRB4nQRlgJ0ODny5Yt+w/CIDZhHUSqgBkKo4nURljZqMHwMBohQQFK/ECvnkT3LgX8kyAzGZATPwWGgTMPSiYCGvyEWgYiGfyEAcjxoKaroWZ5EM52QBUjJLkRExajQUH7Qgg5E4HYxMQLUWpgmYiUxA8AOdLMz+iDKvIAAAAASUVORK5CYII=) no-repeat scroll center center #fff;
    background-size: 11px;
  }

  #suggest .close {
    text-align: right;
    font-size: 14px;
    color: #888;
    padding-right: 12px;
  }

  /*翻译
搜索栏框架样式 {
框阴影︰ 0 0 18px rgba(70,70,40,.255);括号里的颜色为Rgb默认，可进入http://rgb.phpddt.com/查询
-webkit 动画︰ fadeIn 2.5;
动画︰ fadeIn 2.5;
背景色︰ rgba(255,255,255,.100);
边界半径︰ 50px;
显示︰ 表;
垂直对齐︰ 居中;
宽度︰ 80%;根据你喜欢的宽度调整，目前我为了对齐图标使用80%
高度︰ 40px;
最大宽度︰ 400px;
边距︰ 10px 默认布局;
}
*/

  .search_bar {
    box-shadow: 0 0 5px rgba(70, 70, 40, .255);
    -webkit-animation: fadeIn 2.5s;
    animation: fadeIn 2.5s;
    background-color: rgba(255, 255, 255, .0);
    border-radius: 3px;
    display: table;
    vertical-align: middle;
    width: 85%;
    height: 20px;
    max-width: 400px;
    margin: 10px auto;
    position: relative;
    z-index: 10;
    border-radius: 50px;
  }

  /*翻译
搜索栏搜索目标确认图标样式，目前为米奇
轮廓边框︰ 0;
高度︰ 40px;
浮标位置︰ 右;
颜色: #000;
字体大小︰ 16px;
字体粗细︰ 700;
边境︰ 无;
背景颜色︰ 透明;
填充︰ 0 13px 0 13px
*/

  #search_submit {
    outline: 0;
    height: 40px;
    float: right;
    color: #4a4266;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    padding: 0 13px 0 13px;
  }


  /*翻译
书签图标排版目录样式 
宽度︰ 100%;
文本对齐︰ 中心;
填充顶部︰ 15px;
填充底部︰ 15px;
*/

  #content {
    width: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }


  /*翻译
书签框架样式
-webkit 动画︰ fadeInDown 1s;
动画︰ fadeInDown 1s;
位置︰ 相对应;
显示︰ 显示在内部;
宽度︰ 75px;
边境︰ 0;
*/

  .box {
    -webkit-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
    position: relative;
    display: inline-block;
    width: 70px;
    border: 0;
  }


  /*翻译 
书签图标样式
宽度︰ 100%;
高度︰ 100%;
位置︰ 不受限制;
左︰ 0;
顶︰ 0;
*/

  .box a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  /*翻译
书签字体样式
颜色: #232323;使用夜间模式时修改为#eee或者#f2eada即可
高度︰ 1.5em;
线的高度︰ 1.5em;
宽度︰ 72px;
字体大小︰ 0.75em;
白色空间︰ nowrap;
溢出︰ 隐藏;
边距︰ 默认布局;
-webkit 边框顶部右半径︰ 5px;
-webkit 边框底部右半径︰ 5px;
文本溢出︰ 省略;
-o 文本溢出︰ 省略;
气相色谱-质谱-文本-溢出︰ 省略;
填充顶部︰ 3px;
填充底部︰ 8px;
*/

  .url {
    color: #4a4266;
    height: 1.5em;
    line-height: 1.5em;
    width: 72px;
    font-size: 0.75em;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    /* -webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px; */
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    padding-top: 0px;
    padding-bottom: 8px;
  }

  /*翻译
字体样式 
宽度︰ 3em;
高度︰ 3em;
最大宽度︰ 72px;
*/

  .icon {
    width: 3em;
    height: 3em;
    max-width: 72px;
  }

  .sugList {
    list-style: none;
    display: list-item;
    cursor:pointer;
  }

  #app-items {
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    text-align: center;
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 15px;
  }

  .title {
    background-color: #ffffff;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 20px;
    color: #4a4266;

  }

  .searchImg{
    width: 20px;
    height: 20px;
  }



  @-webkit-keyframes flipInX {
    0% {
      -webkit-transform: perspective(400px) rotateX(90deg);
      transform: perspective(400px) rotateX(90deg);
      opacity: 0
    }

    40% {
      -webkit-transform: perspective(400px) rotateX(-10deg);
      transform: perspective(400px) rotateX(-10deg)
    }

    70% {
      -webkit-transform: perspective(400px) rotateX(10deg);
      transform: perspective(400px) rotateX(10deg)
    }

    100% {
      -webkit-transform: perspective(400px) rotateX(0);
      transform: perspective(400px) rotateX(0);
      opacity: 1
    }
  }

  @keyframes flipInX {
    0% {
      -webkit-transform: perspective(400px) rotateX(90deg);
      -ms-transform: perspective(400px) rotateX(90deg);
      transform: perspective(400px) rotateX(90deg);
      opacity: 0
    }

    40% {
      -webkit-transform: perspective(400px) rotateX(-10deg);
      -ms-transform: perspective(400px) rotateX(-10deg);
      transform: perspective(400px) rotateX(-10deg)
    }

    70% {
      -webkit-transform: perspective(400px) rotateX(10deg);
      -ms-transform: perspective(400px) rotateX(10deg);
      transform: perspective(400px) rotateX(10deg)
    }

    100% {
      -webkit-transform: perspective(400px) rotateX(0);
      -ms-transform: perspective(400px) rotateX(0);
      transform: perspective(400px) rotateX(0);
      opacity: 1
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0)
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px)
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0)
    }
  }

  @media screen and (min-width:1025px) {
     body {
      text-align: center;
      background-image: url('../img/1.png') !important;
      background-size: 100% !important;
      background-repeat: no-repeat;
      background-color: #fff;
    } 
  }